@import "../../styles.scss";

.results {
  background: cornsilk;
  min-height: 100vh;
  max-width: 100vw;

  .resultsTop {
    box-sizing: border-box;
    width: 100%;
    height: 20vh;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 0 0 $br-rounded $br-rounded;
    background: $background-color;
    color: $primary-text;
    padding: 5px 10px;

    p {
      padding: 0;
      margin: 0;
    }

    input {
      height: 30px;
      margin-right: 10px;
      width: 60vw;
      border-radius: $br-rounded;
      padding: 0 10px;
    }

    button {
      color: $background-color;
      background: $primary-text;
      border-radius: $br-rounded;
      border: none;
      height: 30px;
      width: 25vw;
      padding: 7px 10px;
    }
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 768px) {
  .results {
    .resultsTop {
      box-sizing: border-box;
      width: 85%;
      height: 7vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 0 0 $br-rounded 0;

      input {
        width: 35vw;
      }
      button {
        width: auto;
        cursor: pointer;
      }
    }

    .cardsContainer {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
