.page {
  background: cornsilk;
  min-height: 100vh;
  margin: 0;
  padding: 25px;
  max-width: 100%;
}
.page .recipe {
  background: darkslategrey;
  color: cornsilk;
  padding: 20px;
  border-radius: 20px;
}
.page .recipe .titleImageContainer {
  display: flex;
  flex-direction: column-reverse;
}
.page .recipe .titleImageContainer .localeAndTime {
  display: flex;
  justify-content: space-between;
}
.page .recipe .titleImageContainer img {
  max-height: 25vh;
  object-fit: cover;
  border: 2px solid cornsilk;
  border-radius: 5px;
}
.page .recipe .instructionIngredientsContainer {
  display: flex;
  flex-direction: row;
}
.page .recipe .instructionIngredientsContainer ul {
  width: 45%;
}
.page .recipe .instructionIngredientsContainer ol {
  width: 45%;
}

@media only screen and (min-width: 768px) {
  .page .recipe {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  .page .recipe .titleImageContainer {
    flex-direction: row;
  }
  .page .recipe .titleImageContainer .localeAndTime {
    width: 75%;
  }
  .page .recipe .titleImageContainer img {
    margin: 20px 40px;
  }
}