@import "../../styles.scss";

.card {
  max-width: 250px;
  max-height: 450px;
  margin: 20px;
  border: 1px solid grey;
  background: $background-color;
  padding: 20px;
  border-radius: 20px;
  color: $primary-text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    .delButton {
      background: $primary-text;
      color: $background-color;
    }
  }

  .delButton {
    align-self: flex-end;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
  }

  .title {
    // height: 25%;
    height: 3em;
    line-height: 1.5em;
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  img {
    display: block;
    box-sizing: border-box;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
  }
}
