@import '../../styles.scss';

.spacer{
  height: 20vh;
  width: 100%;
}

.registerContainer {
    background-color: $background-color;
    color: $primary-text;
    display: grid;
    place-items: center;
    width: 90vw;
    margin: auto;
    border-radius: $br-rounded;

    
  .registerForm {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .formElement {
        margin-bottom: 10px;
        background-color: $primary-text;
        color: $background-color;
        border-radius: $br-rounded;
    }
  }

}

@media only screen and (min-width: 768px) {
  .registerContainer {
    width: 25vw;
  }
}