@import "../../styles.scss";

.filtersContainer {
  box-sizing: border-box;
  height: 10%;
  min-width: 4vw;
  background-color: $background-color;
  color: $primary-text;
  position: fixed;
  right: 0;
  top: 25%;
  padding: 10px;
  display: flex;
  border-radius: $br-rounded 0 0 $br-rounded;
  border-left: 1px solid $primary-text;

  .expandButton {
    font-weight: bold;
    font-size: 2em;
    align-self: center;
  }

  .expandedContent {
    display: flex;
    flex-direction: row;
  }

  .dropdowns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    .dropdownsTitle {
      width: 100%
    }
  }

  select {
    background-color: $primary-text;
    color: $background-color;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 768px) {
  // .filtersContainer {
  //   min-width: 5vw;
  //   padding: 20px;

  //   .dropdowns {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: flex-start;
  //   }
  // }
}
