@import "../../styles.scss";

.loginContainer {
  background-color: $background-color;
  color: $primary-text;
  display: grid;
  place-items: center;
  width: 25vw;
  margin: 10% auto;
  border-radius: $br-rounded;

  .loginForm {
    display: flex;
    flex-direction: column;
    margin: 20px;

    p a {
      text-decoration: none;
      color: $primary-text;
  }

    .formElement {
      margin-bottom: 10px;
      background-color: $primary-text;
      color: $background-color;
      border-radius: $br-rounded;
    }
  }
}
